.button {
   background-color: $color-button-bg;
   color: $color-button-font;
   padding: rem(10) rem(20);
   border-radius: rem(5);
   letter-spacing: em(1.5, 16);
   text-align: center;
   cursor: pointer;

   box-shadow: 0 rem(2) rem(4) rgba(0, 0, 0, 0.4);

   transition: all 0.3s ease 0s;

   @media (any-hover: hover) {
      &:not(:disabled):hover {
         background-color: $color-button-bg-hover;
      }
   }

   &__icon {
      fill: currentColor;
   }

   &_small {
      padding: rem(5) rem(10);
      border-radius: rem(3);
      font-size: rem(14);
   }

   &:disabled {
      opacity: 0.8;
      cursor: not-allowed;
   }

   &-toggle {
      & + label {
         position: relative;
         @extend .button;
         [data-on] {
            display: inline;
         }
         [data-off] {
            display: none;
         }
         &::after {
            content: attr(data-title-unchecked);
            position: absolute;
            top: 150%;
            left: 50%;
            transform: translateX(-50%);
            padding: 4px 8px;
            background-color: $color-button-font;
            color: $color-shot;
            border-radius: 4px;
            font-size: 12px;
            opacity: 0;
            visibility: hidden;
            transition: all 0.2s ease-in-out;
         }
         @media (any-hover: hover) {
            &:hover::after {
               opacity: 1;
               visibility: visible;
            }
         }
      }
      &:checked + label {
         [data-on] {
            display: none;
         }
         [data-off] {
            display: inline;
         }
         &::after {
            content: attr(data-title-checked);
         }
      }
   }
}
