.cell {
   width: var(--cell-size);
   height: var(--cell-size);

   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 0;

   animation-duration: 1s;
   animation-fill-mode: forwards;
   &:before {
      content: "\2716";
   }

   &[data-shot-pseudo] {
      color: $color-shot-pseudo;
      animation-name: shot-pseudo;
      @keyframes shot-pseudo {
         0% {
            font-size: rem(0);
         }
         100% {
            font-size: $font-size-cross;
         }
      }
   }

   &[data-shot]:not([data-shot-target]) {
      color: $color-shot;
      animation-name: shot;
      background: url("@img/bang2.png") center / 0 0 no-repeat;
      @keyframes shot {
         0% {
            background-size: 0 0;
         }
         40% {
            background-size: 100% 100%;
         }
         80% {
            background-size: 0 0;
            font-size: rem(0);
         }
         100% {
            font-size: $font-size-cross;
         }
      }
   }
   &[data-shot-target]:not([data-shot-died]) {
      animation-name: shot-target;
      background: url("@img/bang.png") center / 0 0 no-repeat;
      @keyframes shot-target {
         0% {
            background-size: 0 0;
         }
         100% {
            background-size: 100% 100%;
         }
      }
   }
}
