h1 {
   font-size: rem(40);
}
body {
   @include adaptiveValue("--cell-size", $size-max-cell, $size-min-cell, $containerWidth, 650, 1);
   // --cell-size: #{$size-max-cell + 0px};
   letter-spacing: em(1.5, 16);
   @media (max-width: $mobile) {
      @include adaptiveValue("--cell-size", $size-max-cell, $size-min-cell, 768, 320, 1);
   }
}

[data-dragable] {
   cursor: all-scroll;
}

[data-drag] {
   &:not([data-can-drop]) {
      background-color: $color-background-drop-error;
   }
}

[data-can-drop] {
   background-color: $color-background-drop-success;
}

[data-shot] {
   // background-color: rgba(0, 0, 0, 0.2);
}

[data-shot-target] {
   // background-color: rgba(255, 0, 0, 0.2);
}

[data-shot-died] {
   // background-color: rgba(255, 0, 0, 1);
}
