body {
   @include adaptiveValue("--cell-size", $size-max-cell, $size-min-cell);
   letter-spacing: em(1.5, 16);
}

[data-dragable] {
   cursor: all-scroll;
}

[data-drag] {
   &:not([data-can-drop]) {
      background-color: $color-background-drop-error;
   }
}

[data-can-drop] {
   background-color: $color-background-drop-success;
}

[data-shot] {
   // background-color: rgba(0, 0, 0, 0.2);
}

[data-shot-target] {
   // background-color: rgba(255, 0, 0, 0.2);
}

[data-shot-died] {
   // background-color: rgba(255, 0, 0, 1);
}
