.list-ships {
   $k: 0.5;
   // .list-ships__row
   &__row {
      display: grid;
      grid-auto-flow: column;
      justify-content: start;
      // justify-items: center;
      column-gap: rem(30);

      &:nth-child(1) {
         .list-ships__ship {
            background: url("@img/ships/1_h.png") 0 0 / 100% 100% no-repeat;
            width: calc(var(--cell-size) * $k);
         }
      }
      &:nth-child(2) {
         .list-ships__ship {
            background: url("@img/ships/2_h.png") 0 0 / 100% 100% no-repeat;
            width: calc(var(--cell-size) * 2 * $k);
         }
      }
      &:nth-child(3) {
         .list-ships__ship {
            background: url("@img/ships/3_h.png") 0 0 / 100% 100% no-repeat;
            width: calc(var(--cell-size) * 3 * $k);
         }
      }
      &:nth-child(4) {
         .list-ships__ship {
            background: url("@img/ships/4_h.png") 0 0 / 100% 100% no-repeat;
            width: calc(var(--cell-size) * 4 * $k);
         }
      }
      &:not(:last-child) {
         margin-bottom: rem(10);
      }
   }
   // .list-ships__ship
   &__ship {
      height: calc(var(--cell-size) * $k);
      svg {
         opacity: 0;
         transition: all 1s ease 0s;
      }
      &_dead {
         svg {
            opacity: 1;
         }
      }
   }
}
