.player {
   // .player__grid
   &__grid {
   }
   // .player__wrap-dock
   &__wrap-dock {
      display: flex;
      flex-direction: column;
   }
   // .player__dock
   &__dock {
      flex-grow: 1;
   }
   // .player_pc
   &_pc {
      display: none;
   }
   // .player_human
   &_human {
   }
   // .player_prepared
   &_prepared {
      display: flex;
      flex-wrap: wrap;
      margin: rem(-20);
      & > * {
         padding: rem(20);
      }
      .player__wrap-dock {
         flex-grow: 1;
      }
   }
}
