.sea-battle {
   background: url("@img/islands/island.png") no-repeat, url("@img/islands/island2.png") 0 300px /400px no-repeat,
      url("@img/islands/island3.png") 0 600px no-repeat, url("@img/islands/island5.png") no-repeat right / 400px,
      url("@img/bg/water.jpg") 0 0 / cover;
   // .sea-battle__container
   &__container {
   }
   // .sea-battle__player
   &__player {
   }
   // .sea-battle__players
   &__players {
      // .sea-battle__players_gaming
      &_gaming {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         margin: rem(-20);

         .sea-battle__player {
            display: block;
            .sea-battle__players_gaming & {
               padding: rem(20);
               // flex: 0 0 50%;
            }
         }
      }
   }
}
