.sea-battle {
   // .sea-battle__container
   &__container {
      padding-bottom: rem(80);
   }
   &__bg {
      position: fixed;
      // position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      z-index: -1;
   }
   &__island-bg {
      position: absolute;
      min-width: rem(80);
      @media (max-width: $mobile) {
         // display: none;
      }
      &_num_1 {
         top: 0;
         left: 0;
         width: percent(200, 1920);
      }
      &_num_2 {
         bottom: 0;
         left: 0;
         width: percent(400, 1920);
      }
      &_num_3 {
         top: 0;
         right: 0;
         width: percent(269, 1920);
      }
      &_num_4 {
         bottom: 0;
         right: 0;
         width: percent(400, 1920);
      }
      &_num_5 {
         bottom: 0;
         left: 50%;
         width: percent(400, 1920);
         transform: translateX(-50%);
         @media (max-width: $mobileSmall) {
            bottom: 50%;
            right: 0;
            left: auto;
            transform: translate(-50%, -50%);
         }
      }
   }
   // .sea-battle__prompt
   &__prompt {
      display: none;
      font-size: rem(40);
      &:not(:last-child) {
         margin-bottom: rem(20);
      }
   }
   // .sea-battle__toolbar
   &__toolbar {
      display: flex;
      flex-wrap: wrap;
      margin: rem(-5);
      & > * {
         margin: rem(5);
      }
      &:not(:last-child) {
         margin-bottom: rem(20);
      }
   }
   // .sea-battle__wrap
   &__wrap {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: rem(-10);
      @media (max-width: $mobile) {
         justify-content: center;
      }
      & > * {
         padding: rem(10);
      }
   }
   // .sea-battle__player
   &__player {
      // .sea-battle__player_pc
      &_pc {
      }
      // .sea-battle__player_human
      &_human {
      }
      // .sea-battle__player_shooting
      &_shooting {
         .sea-battle__hint {
            opacity: 1;
            visibility: visible;
            animation: hint 1s ease-in-out;
            @keyframes hint {
               50% {
                  transform: scale(1.7);
               }
            }
         }
      }
   }
   // .sea-battle__greed
   &__grid {
   }
   // .sea-battle__btn-reset-game
   &__btn-reset-game {
      // display: inline-block;
   }
   // .sea-battle__dock
   &__dock {
      flex-grow: 1;
      &:not(:last-child) {
         margin-bottom: rem(20);
      }
   }
   // .sea-battle__dock-buttons
   &__dock-buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: rem(-5);
      & > * {
         margin: rem(5);
      }
   }
   &__btn-start {
   }
   // .sea-battle__wrap-dock
   &__wrap-dock {
      display: none;
      &_empty {
         .sea-battle__btn-start {
            visibility: visible;
            opacity: 1;
         }
      }
   }
   // .sea-battle__info
   &__info {
      &:not(:first-child) {
         margin-top: rem(10);
      }
   }
   // .sea-battle__hint
   &__hint {
      opacity: 0;
      visibility: hidden;
      font-size: rem(20);
      text-align: center;
      &:not(:last-child) {
         margin-bottom: rem(15);
      }
      transition: all 0.3s ease 0s;
   }
   // .sea-battle_prep
   &_prep {
      .sea-battle__hint {
         display: none;
      }
      .sea-battle__prompt {
         display: block;
      }
      .sea-battle__player_pc {
         display: none;
      }
      .grid .ship {
         @media (any-hover: hover) {
            &:hover {
               .ship__toolbar {
                  opacity: 1;
                  visibility: visible;
               }
            }
         }
      }
      .sea-battle__wrap-dock {
         width: calc(var(--cell-size) * 10);
         display: flex;
         flex-direction: column;
      }
      .sea-battle__btn-reset-game {
         display: none;
      }
   }
}
