.sea-battle {
   background:
      url("@img/islands/island.png") no-repeat,
      url("@img/islands/island2.png") 0 300px /400px no-repeat,
      url("@img/islands/island3.png") 0 600px no-repeat,
      url("@img/islands/island5.png") no-repeat right / 400px,
      url("@img/bg/water.jpg") 0 0 / cover;
   // .sea-battle__container
   &__container {
   }
   // .sea-battle__wrap
   &__wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: rem(-10);
      & > * {
         padding: rem(10);
      }
   }
   // .sea-battle__player
   &__player {
      // .sea-battle__player_pc
      &_pc {
      }
      // .sea-battle__player_human
      &_human {
      }
   }
   // .sea-battle__greed
   &__grid {
      &:not(:last-child) {
         margin-bottom: rem(30);
      }
   }
   // .sea-battle__dock
   &__dock {
      flex-grow: 1;
   }
   // .sea-battle__wrap-dock
   &__wrap-dock {
      display: none;
   }
   // .sea-battle__info
   &__info {
   }
   // .sea-battle_prep
   &_prep {
      .sea-battle__player_pc {
         display: none;
      }
      .grid .ship {
         @media (any-hover: hover) {
            &:hover {
               .ship__toolbar {
                  opacity: 1;
                  visibility: visible;
               }
            }
         }
      }
      .sea-battle__wrap-dock {
         width: calc(var(--cell-size) * 10);
         display: flex;
         flex-direction: column;
      }
   }
}
