$color-grid-border: blue;

$color-background-drop-error: rgba(255, 0, 0, 0.4);
$color-background-drop-success: rgba(0, 128, 0, 0.4);

$color-button-font: #fff;
$color-button-bg: #0056b3;
$color-button-bg-hover: #007bff;

$size-max-cell: 55;
$size-min-cell: 29;
