$color-grid-border: blue;

$color-background-drop-error: rgba(255, 0, 0, 0.4);
$color-background-drop-success: rgba(0, 128, 0, 0.4);

$color-button-font: #fff;
$color-button-bg: #0056b3;
$color-button-bg-hover: #007bff;

$color-modal-bg: #fff;
$color-modal-border: #e5e8ed;
$color-modal-backdrop: #1e212c;

$size-max-cell: 50;
$size-min-cell: 29;

$color-shot-pseudo: rgba(0, 0, 0, 0.3);
$color-shot: rgb(0, 0, 0);

$font-size-cross: calc(var(--cell-size) * 40 / $size-max-cell);
